.sb-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 3em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // display: inline-block;
    // line-height: 1;
}

.sb-button--primary {
    color: white;
    background-color: #2461EF;
}

.sb-button--primary:hover {
    background-color: #2461EF;
}

.sb-button--secondary {
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.sb-button--small {
    font-size: 12px;
    padding: 5px 16px;
}

.sb-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.sb-button--large {
    font-size: 16px;
    padding: 12px 24px;
}

.sb-button--extra {
    font-size: 18px;
    padding: 14px 28px;
}